:root{
    --bg-color:rgb(24,23,23);
    --font-color: rgb(255,255,255);
    --color-border: rgb(22, 153, 214);
}

*{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: 400;
    font-size:1.2rem;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info{
    display: block;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 80%;
   
}
#info{
    height: 19%;
    display: block;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 5%;
}
.rom-text{
    border-top: 0.125rem solid var(--color-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
   
}
