:root{
    --bg-color:rgb(24,23,23);
    --font-color: rgb(255,255,255);
    --color-border: rgb(22, 153, 214);
}

*{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: 400;
    font-size:1.2rem;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  height: 15%;
  margin: 5px 10px;
  box-shadow: 0 1px 10px rgb(245, 114, 206);
  padding: 10px;
  border-radius: 5px;
}

.logo {
  background-color: var(--bg-color);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.logo i {
  font-size: 16px;
  color: rgb(245, 114, 206);
}

#musicName {
  white-space: nowrap; 
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color:rgb(245, 114, 206);
}

.controls button {
  border: none;
  background-color: var(--bg-color);
  cursor: pointer;
}

.controls i {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--bg-color);
  transition: all .2s;
  color: rgb(245, 114, 206);
}

.controls i:hover {
  background-color: rgb(87, 87, 87);
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time span {
  font-size: 10px;
  color: rgb(245, 114, 206);
}

.footer {
  width: 100%;
}

.progress-bar {
  height: 8px;
  background-color: #ddd;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}

.progress {
  height: 8px;
  background-color: rgb(245, 114, 206);
  border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 40%;
    border-radius: 1.25rem;
    overflow: hidden;
     justify-content: center;
    background-color: var(--bg-color);
 
   
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    
}
#info{
    height: 25%;
    display: block;
    
}

.rom-text{
    border-top: 0.125rem solid rgb(245, 114, 206);
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
   
}
@media (max-width: 570px) {
    

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        width: 70%;
        border-radius: 1.25rem;
        overflow: hidden;
         justify-content: center;
        background-color: var(--bg-color);
     
       
    }
    #info{
        height: 35%;
        display: block;
        
    }


}
